body{
    background-color: #ffffff
}
h1{
    margin-left: 850px;
    margin-right: 850px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    justify-content: center;
    display: flex;
}
h1:hover{
    color: red;
    cursor: pointer;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-calendario{
    display: grid;
    grid-gap: 5px;
    width: 850px;
    height: 850px;
    /* border: 1px solid #122415; */
    grid-template-columns: repeat(7, 115px);
    grid-template-rows: repeat(8, 100px);
    grid-template-areas: "header header header header header header header";
    justify-content: center;

}
.header{
    grid-column-start: header;
    grid-column-end: header;
}
.box-style{
    background-color: rgba(98, 103, 110, 0.521);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 10-px;
    border-radius: 5px;
}
.header{
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-size: 2.5em;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box-header4{
    background-color: rgba(255, 0, 0, 0.658);
}
.box-header8{
    background-color: rgba(255, 0, 0, 0.658);
}
.box-header11{
    background-color: rgba(255, 0, 0, 0.658);
}

.box-header18{
    background-color: rgba(255, 0, 0, 0.658);
}
.box-header25{
    background-color: rgba(255, 0, 0, 0.658);
}
.box-header31{
    background-color: rgba(255, 0, 0, 0.514);
}
.dia-dom{
    background-color: rgba(223, 223, 223, 0.158);
}

