* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-viewport{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-header {
    margin-top: 50px;
    width: 90%;
    height: 140px;
    display: grid;
    grid-template: "main-logo main-menu" 110px /
                    230px     1fr;
    

}
.main-logo {
    grid-area: main-logo;
    margin-right: 30px;
}
.logo-principal {
    width: 100%;
}
.main-menu {
    grid-area: main-menu;
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.936);
    list-style: none;
}
.item-menu {
    padding: 20px 30px;
}
.txt-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-family: Helvetica, sans-serif;
}
.fa-bars {
    background-color: red;
    color:rgb(0, 0, 0);
    width: 50px;
    height: 50px;
}
.box-img-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal {
    margin-top: 40px;
}
.img-primaria {
    width: 90%;
}
.page-content {
    display: grid;
    width: 100%;
    grid-template: "page-header" 100px
                    "box-img-principal";    
}
.page-header {
    grid-area: page-header;
}
.articulos{
    display: grid;
    grid-template: "article-1 article-2 article-3" /
                    1fr       1fr       1fr
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 350px;
    height: 250px;
    background-color: red;
    margin: 15px 0;
}
.titulo-img{
    width: 350px;
    height: 80px;
    background-color: blue;
    margin: 15px 0;
}
.texto-img{
    width: 350px;
    height: 300px;
    background-color: green;
    margin: 15px 0;
}
.txt-span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6em;
    font-family: Helvetica, sans-serif;
}
@media only screen and (max-width: 1226px) {
    .articulos {
        display: grid;
        grid-template: "article-1 article-2" /
                        1fr       1fr;   
    }
}
@media only screen and (max-width: 850px) {
    .articulos {
        display: grid;
        grid-template: "article-1"  /
                        1fr;   
    }
}
@media only screen and (max-width: 378px) {
    .main-menu {
       display: none;

    }
}
@media only screen and (max-width: 378px) {
    .main-menu {
       display: none;

    }
}

